.vscode/

*.o
*.out
*.exe
*.a
*.so
*.dll

c_implementation/main
c_implementation/GUI_impl
c_implementation/q_learning
c_implementation/compile_commands.txt

__pycache__/
*.pyc
*.pyo
*.pyd

compile_commands.json

*.log
*.ckpt
weights.txt

reference material/
resources.txt

.DS_Store
Thumbs.db
